.idea/
DistanceGAN_boosting/datasets/
DistanceGAN_boosting/discogan_arch/results/
*.pyc
DistanceGAN_boosting/venv/
DistanceGAN_boosting/models/
DistanceGAN_boosting/results/
*-checkpoint.ipynb
DistanceGAN_boosting/new_code/models/
DistanceGAN_boosting/new_code/results/boost_debug/edges2shoes/1/log/events.out.tfevents.1523352920.Eyal
